include ../header/header
include ../footer/footer
include ../banner/banner
include ../section/section
include ../countdown/countdown
include ../container/container
include ../about/about
include ../activity/activity
include ../map/map

mixin index()
	- var items = [{url: '#about', label: 'О Компании'}, {url: '#activity', label: 'ДЕЯТЕЛЬНОСТЬ'}, {url: '#contact', label: 'КОНТАКТЫ'}];

	+header('SNS Group', items)

	+banner('САЙТ НАХОДИТСЯ В РАЗРАБОТКЕ', 'В данный момент мы обновляем очень важные сервисы, сайт запустится через:')
		+countdown('2016-12-29')

	.main
		+section('about', 'О Компании').section_about
			+container
				+about
					| ООО «СНС» - стремительно развивающийся участник российского рынка жилой и коммерческой недвижимости, осуществляющий весь  цикл девелопмента. Постоянно оптимизируя производственные и управленческие процессы, мы гарантируем высокий уровень качества на всех этапах работы. И как результат – лучшее соотношение цены и качества в своем сегменте.
					| За спиной - опыт и доверие клиентов, впереди - тысячи квадратных метров успешных проектов, в настоящем – безупречная репутация и стремление быть лучшими в своем деле.  Следите за обновлениями!

		+section('activity', 'ДЕЯТЕЛЬНОСТЬ').section_activity
			- var activites = [{icon: 'design', title: 'Проектиктирование', desc: 'проектно-сметная документация с полным пакетом необходимых согласований (эскизный проект, архитектурные и конструкторские решения в соответствии с последними требованиями законодательства, инженерия).'}, {icon: 'build', title: 'Строительство', desc: 'полный комплекс строительных услуг от фундамента до кровли.'}, {icon: 'manage', title: 'Mенеджмент', desc: 'команда высококвалифицированных профессионалов  предоставят вам развернутые консультации, дадут необходимые рекомендации, сохранив ваши ресурсы и время.'}];

			+container
				+activity(activites)

		+section('contact', 'КОНТАКТЫ').section_contact
			+map(55.7854971, 37.2384205, 'assets/images/map__marker.png', 'AIzaSyBJ3FoOUT9B81UbknmQgbxLfES8gaiykoA')
				| SNS Group — стремительно развивающийся участник российского рынка жилой и коммерческой недвижимости, осуществляющий весь цикл девелопмента: проектирование, строительство, управление. За спиной - опыт и доверие клиентов, впереди - тысячи квадратных метров успешных проектов. Следите за обновлениями!

	+footer()
