$ctx = section

.{$ctx}
	padding-top 120px

	.{$ctx}__header
		text-align center

	.{$ctx}__title
		padding-top 5px
		position relative
		display inline-block
		color white
		font-size 20px
		font-weight 300
		line-height 30px
		text-transform uppercase

		&:before
			position absolute
			top 0
			left 50%
			transform translateX(-50%)
			content ''
			height 1px
			width 60px
			background-color #db3552

	.{$ctx}__body
		margin-top 32px
