include ../blocks/index/index

extends ../blocks/layout-default/layout-default

block head
	- var pageTitle = 'SNS Group';
	- var pageDescription = 'SNS Group';
	- var pageKeywords = 'SNS Group';

block content
	+index
