$ctx = footer

.{$ctx}
	padding-top 34px
	padding-bottom 34px
	min-height 160px
	box-sizing border-box

	.{$ctx}__container
		display flex
		justify-content space-between

	.{$ctx}__col
		max-width 346px
		margin-bottom 16px

	.{$ctx}__label
		font-family Roboto
		font-size 14px
		font-weight 300
		line-height 30px
		opacity 0.5
		color white
		letter-spacing 0.77px

	.{$ctx}__text
		font-size 14px
		font-weight 300
		line-height 24px
		color white
